{% extends 'base.html' %}

{% block title %}
    <title> {{data.board_name}} | Bulletin</title>
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('login')}}">Bulletin Board</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('login')}}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
          <li class="nav-item active text-end">
            Welcome {{data.email}}
          </li>
        </ul>
      </div>
    </nav>
    <h5>Board {{data.board_name}}</h5>
    {% if data.thread|length == 0 %}
        <div class="alert alert-primary" role="alert">
          No thread exists!! <a href="{{url_for('thread-add', board_id=data.board_id)}}">Create</a>
        </div>
    {% else %}
        {% for thrd in data.thread %}
            <div class="container">
                <div class="alert alert-info" role="alert">
                    <b>Thread by </b>
                    <h6>{{thrd.admin}}</h6>
                    <sub>{{thrd.created_on}}</sub>
                    <small>{{thrd.content}}</small>
                    {% if data.role in (1,2) or data.email==thrd.admin or data.moderator==True %}
                        <a href="/thread/edit/{{thrd.board_id}}/{{thrd.thread_id}}">Edit</a>
                        <a href="/thread/delete/{{thrd.board_id}}/{{thrd.thread_id}}">Delete</a>
                    {% endif %}
                </div>
                    {% if data.role in (1,2) or data.email==thrd.admin or data.moderator==True %}
                        <a href="{{url_for('post-add', board_id=data.board_id, thread_id=thrd.thread_id)}}">Add Post</a>
                    {% endif %}
                {% for post in thrd.post %}
                    <h6>{{post.admin}}</h6>
                    <sub>{{post.created_on}}</sub>
                    <small>{{post.content}}</small>
                    {% if data.role in (1,2) or data.email==post.admin or data.moderator==True %}
                        <a href="/post/edit/{{post.board_id}}/{{post.post_id}}">Edit</a>
                        <a href="/post/delete/{{post.board_id}}/{{post.post_id}}">Delete</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <br/>
        {% if data.role == 5 and data.moderator!=True %}
            <div class="alert alert-primary" role="alert">
              Guest in viewer mode!!
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">
              <a href="{{url_for('thread-add', board_id=data.board_id)}}">Create another thread</a>
            </div>
        {% endif %}
    {% endif %}
    {% if data.role in (1,2) %}
        <div class="alert alert-primary" role="alert">
            <a href="{{url_for('send-invite', board_id=data.board_id)}}">Send invite to moderate</a>
        </div>

    {% endif %}
    {% if data.message %}
        <div class="alert alert-primary" role="alert">
            <small>{{data.message}}</small>
        </div>
    {% endif %}
{% endblock %}