{% extends 'base.html' %}

{% block title %}
    <title> User Home | Bulletin</title>
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('login')}}">Bulletin Board</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('login')}}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
          <li class="nav-item active text-end">
            Welcome {{data.email}}
          </li>
        </ul>
      </div>
    </nav>
    <h5>Boards</h5>
    {% if data.boards|length == 0 %}
        <div class="alert alert-primary" role="alert">
          No board exists!! <a href="{{url_for('board-add')}}">Create</a>
        </div>
    {% else %}
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Admin</th>
              <th scope="col">Created On</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for row in data['boards'] %}
                <tr>
                  <th scope="row">{{row.board_id}}</th>
                  <td>{{row.name}}</td>
                  <td>{{row.admin}}</td>
                  <td>{{row.created_on}}</td>
                    <td><a href="board/view/{{row.board_id}}">View</a></td>
                    {% if data.role in (1,2) or data.email==row.admin %}
                        <td><a href="board/edit/{{row.board_id}}">Edit</a></td>
                        <td><a href="board/delete/{{row.board_id}}">Delete</a></td>
                    {% else %}
                        <td></td>
                        <td></td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
        <br/>
        <div class="alert alert-primary" role="alert">
          <a href="{{url_for('board-add')}}">Create another board</a>
          <a href="{{url_for('gravatar')}}">Get your Gravatar</a>
        </div>
        {% if data.moderator %}
            {% for moderator in data.moderator %}
            {% if moderator.accepted == True %}
                <div class="alert alert-primary" role="alert">
                    <small> You are moderating board {{moderator.board_id}}</small>
                </div>
            {% else %}
                <div class="alert alert-primary" role="alert">
                    <small>You received invite to moderate board {{moderator.board_id}} from {{moderator.admin}}</small>
                    <small>{{moderator.created_on}}</small>

                    <form action="{{url_for('invite')}}" method="post">

                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" value="yes" id="flexRadioDefault1">
                          <label class="form-check-label" for="flexRadioDefault1">
                            Yes
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" value="no" id="flexRadioDefault2">
                          <label class="form-check-label" for="flexRadioDefault2">
                            No
                          </label>
                        <div>
                          <label for="exampleInputEmail1" class="form-label">Board ID</label>
                          <input type="text" name="board_id" value="{{moderator.board_id}}" readonly="readonly" class="form-control" aria-describedby="emailHelp" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Accept</button>
                    </form>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
            <div class="alert alert-primary" role="alert">
              <a href="{{url_for('reorder')}}">Reorder Boards</a>
            </div>

{% endblock %}