{% extends 'base.html' %}

{% block title %}
    <title> Send Invite | Bulletin</title>
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('login')}}">Bulletin Board</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('login')}}">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <h6>List of users</h6>
          <ul>
            {% for user in data.users %}
              <li>{{user.user_id}}<small>{{user.email}}</small></li>>
            {% endfor %}
          </ul>
        </div>
        </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <h2>Send Invite</h2>
          <form action="{{url_for('send-invite-post')}}" method="post">
            <div>
              <label for="exampleInputEmail1" class="form-label">Moderator</label>
              <input type="text" name="moderator" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">Moderator</div>
            </div>
            <div>
              <label for="exampleInputEmail1" class="form-label">Board ID</label>
              <input type="text" name="board_id" value="{{data.board_id}}" readonly="readonly" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">Board ID</div>
            </div>
            <button type="submit" class="btn btn-primary">Send Invite</button>
          </form>
            {% if data['status_code'] != 0 %}
                <div class="alert alert-danger" role="alert">
                  {{data.message}}
                </div>
            {% elif data['message'] %}
                <div class="alert alert-success" role="alert">
                  {{data.message}}
                </div>
            {% endif %}

        </div>
      </div>
    </div>
{% endblock %}