{% extends 'base.html' %}

{% block title %}
    <title> Sign UP | Bulletin</title>
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{url_for('login')}}">Bulletin Board</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('login')}}">Home</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <h2>SignUP Page</h2>
          <form action="{{url_for('signup')}}" method="post">
            <div>
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
              <div id="emailHelp" class="form-text">This will be your username</div>
            </div>
            <div>
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="pass_hash" class="form-control" id="exampleInputPassword1" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign UP</button>
          </form>
            {% if data['status_code'] %}
                <div class="alert alert-danger" role="alert">
                  {{data.message}}
                </div>
            {% endif %}

        </div>
      </div>
    </div>
{% endblock %}